BOT_PASSPHRASE=replace-with-adamant-passphrase
EXCHANGE_API_KEY=replace-with-api-key
EXCHANGE_API_SECRET=replace-with-api-secret
EXCHANGE_API_PASSWORD=replace-with-api-password-if-needed
API_HOST=127.0.0.1
API_DEBUG_TOKEN=replace-with-debug-token
API_DEBUG_ALLOWLIST=127.0.0.1,::1
